<div class="card">
  <div class="card-header card-header-grey cntr">
  <h5 class="card-title">Add Time to {{model.item}}</h5>
  </div>
    <div class="card-block">
    <p class="card-text">Start the timer to keep track of the amount of time (in minutes)
       you spent on this item below. Stop the timer and click the submit button to add the new time to this item.</p>
        {{#if isResetState}}
          {{timeElapsed}}
          <button {{action 'start'}} class='start'>Start</button>
        {{/if}}

        {{#if isRunState}}
          {{timeElapsed}}
          <button {{action 'pause'}}>Pause</button>
          <button {{action 'stop'}}>Stop</button>
        {{/if}}

        {{#if isPauseState}}
          {{timeElapsed}}
          <button {{action 'start'}}>Start</button>
          <button {{action 'submit'}}>Submit</button>
          <button {{action 'reset'}}>Reset</button>
        {{/if}}

        {{#if isLapState}}
          {{lapTime}}
          <button {{action 'resume'}}>Resume</button>
        {{/if}}
  </div>
</div>
