{{#if isResetState}}
  {{timeElapsed}}
  <button {{action 'start'}} class='start'>Start</button>
{{/if}}

{{#if isRunState}}
  {{timeElapsed}}
  <button {{action 'pause'}}>Pause</button>
  <button {{action 'stop'}}>Stop</button>
{{/if}}

{{#if isPauseState}}
  {{timeElapsed}}
  <button {{action 'start'}}>Start</button>
  <button {{action 'reset'}}>Reset</button>
{{/if}}

{{#if isLapState}}
  {{lapTime}}
  <button {{action 'resume'}}>Resume</button>
{{/if}}
