<div class="wrapper-nb">
  <div class="background-img-sm"></div>
  <div class="background-img"></div>

  <div class="container-nb container">
    <div class="btn-container">
      {{#link-to 'register' class="btn btn-register"}}Register{{/link-to}}
      <button type="submit" class="btn btn-login">Log In</button>
    </div>
    {{#with (changeset model validator) as |formValues|}}
    <form class="form-nb"{{ action "loginUser" formValues on="submit"}}>
      <h2>{{errorMessage}}</h2>
      <div class="form-group">
        {{!-- <label for="exampleInputEmail1">Email address</label> --}}
        {{input changeset=formValues class="input-nb" placeholder="Email Address" label="Email address" property="email"}}
      </div>
      <div class="form-group">
        {{!-- <label for="exampleInputPassword1">Password</label> --}}
        {{input class="input-nb" changeset=formValues type="password" placeholder="Password" label="Password" property="password"}}
     </div>
      <div class=" bottom-container">
        <button type="submit" class="btn btn-next">Next</button>
        <p>
          Need an account? {{#link-to 'register' class="register"}} Register Here{{/link-to}}
        </p>
      </div>
    </form>
    {{/with}}

  </div>
</div>



{{!-- {{#with (changeset model validator) as |formValues|}}
  <form {{action "loginUser" formValues on="submit"}}>
    {{#form-input changeset=formValues label="Email" property="email"}}
      <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    {{/form-input}}

    {{#form-input changeset=formValues type="password" label="Password" property="password"}}
      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    {{/form-input}}

    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block btn-flat">Login</button>
    </div>
  </form>
{{/with}} --}}
