<div class="card">
  <div class="card-header card-header-grey cntr">
  <h2 class="card-title">Add Time for {{model.item}}</h2>
  </div>
    <div class="card-block">
    <p class="card-text">Start the timer to keep track of the amount of time (in minutes)
       you have spent using {{model.item}}. Stop the timer and click the submit button to add the new time.</p>

    {{#if duration}}
      You logged {{moment-duration duration}}.
      <button class="btn" {{action 'save'}}>Submit</button>
      <button class="btn" {{action 'reset'}}>Reset</button>
      <button class="btn" {{action 'resume'}}>Resume</button>
    {{else}}
      {{#if startTime}}

        {{moment-clock startTime interval=100}}

        <button class="btn" {{action 'stop'}}>Stop</button>
        <button class="btn" {{action 'pause'}}>Pause</button>
      {{else}}
        <button class="btn" {{action 'start'}}>Start</button>
      {{/if}}
    {{/if}}
  </div>
</div>
