{{#trianglify-canvas}}
<div class="wrapper-nb--db">

  <div class="navbar">
    <div class="navbar-header">
      <h4 class="header">Heisenberg Helper</h4>
      <div>
        {{#link-to "dashboard.item.new" class="btn btn-dashboard mt-1" }}Add Item{{/link-to}}
        <button {{action 'invalidateSession'}} class="btn btn-dashboard mt-1">Log Out</button>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col">
          <div class="card table-card">
            <div class="card-header card-header-grey">
              <div class="card-header__left">
                <h2>List of Items</h2>
                <h6>(click on an item to see more)</h6>
              </div>
            </div>
            <div class="card-block accordion">
              {{#bs-accordion as |acc|}}
                {{#each model as |item|}}
                <div class="acc-container">
                <div class="btn-container-table">
                  <div class="moment">added a {{moment-duration}} ago</div>
                  <div class="not-moment">
                    {{#link-to "dashboard.add-time" item class="btn btn-table"}}Log Time{{/link-to}}
                    {{#link-to "dashboard.timer" item class="btn btn-table"}}Timer{{/link-to}}
                    {{#link-to "dashboard.item.edit" item class="btn btn-table"}}Edit Item{{/link-to}}
                    <button class="btn btn-table" {{action 'deleteItem' item 'modal-main'}}>Delete</button>
                  </div>
                </div>
                  {{#acc.item value=item.id title=item.item}}
                  <div class="table-content">
                    <p>Category: {{item.category}}</p>
                    <p>Total Time: {{item.totalTime}} minutes</p>
                    <p>Times:
                      <ul>
                        {{#each item.durations as |duration|}}
                        <li>{{duration.time}} mins.
                          <button class="btn btn-table--del" {{action "deleteTime" duration}}>x</button>
                        </li>
                        {{/each}}
                      </ul>
                    </p>
                  </div>
                  {{/acc.item}}
                </div>
                {{/each}}
              {{/bs-accordion}}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col mb-4">
          {{outlet}}
          {{outlet 'timer'}}
        </div>

        <div class="col">
          <div class="card">
            <div class="card-header card-header-grey card-header--pc">
              <h2>Pie Chart</h2>
            </div>
            <div class="pie-chart">
                {{#ember-sparkles
                  data=unwrappedModel
                  output-key='totalTime'
                  group-key='item'
                  arc-threshold=10
                  arc-precision=2
                  group-domain=(map-by 'item' unwrappedModel)
                  as |chart|}}

                  {{chart.pie-chart}}
                {{/ember-sparkles}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{/trianglify-canvas}}
