<div class="form-group has-feedback
  {{if (get changeset.error property) "has-error"}}">
  <input type="{{type}}" class="form-control input-nb" placeholder="{{label}}"
         value={{get changeset property}}
         oninput={{action (mut (get changeset property)) value="target.value"}}>
  {{yield}}

  <ul>
    {{#each (get (get changeset.error property) 'validation') as |error|}}
      <li class="help-block">{{error}}</li>
    {{/each}}
  </ul>
</div>
